# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
*       @lajirt
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.js    @lajirt
# You can also use email addresses if you prefer.
docs/*  laji@uchicago.edu
# Each line is a file pattern followed by one or more owners.
# /folder1/ @username1
# /folder2/ @username2
ResearcherName1/ @lajirt
ResearcherName2/ @lajik2025
MarthaNonUC/  @MMCC2018
collabspace/LajiThomas/ @lajik2025
collabspace/Outsidecollaborator2/* @lajik2025
collabspace/Outsisdecollaborator3/* @MMCC2018
collabspace/Outsidecollaborator4/* @lajik2025
collabspace/WYS-Non-UC/* @weeyanghello
collabspace/MicahelEbert/* @mebert
collabspace/JohnSmith/* @johnsmith
